/* Header container */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  .header h3 {
    color: #ffffff;
    font-family: 'Arial Black', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 60px;
    padding-left: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    justify-content: center;
  }
  
  
  /* Logo styling */
  .logo img {
    width: 100px;
    height: 100px;
  }
  
  /* Navigation bar container */
  .navBar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  
  /* Navigation bar list items */
  .navBar ul li {
    margin: 0 15px;
    font-size: 18px;
  }
  
  /* Links in the navigation bar */
  .navBar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  /* Change color on hover */
  .navBar ul li a:hover {
    color: #007bff;
  }
  
  /* Cart item styling */
  .navBar ul li {
    cursor: pointer;
  }
  
  /* Login button styling */
  .login-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  /* Login button hover effect */
  .login-btn:hover {
    background-color: #0056b3;
  }
  